<html>
<form action="" method="post">
    <label>Enter firstname: </label>
    <input type="text" name="first_name">
    <br>
    <label>Enter familyname: </label>
    <input type="text" name="family_name">
    <br>
    <label>Enter date of birth </label>
    <input type="date" name="date_of_birth">
    <br>
    <label>Enter date of death </label>
    <input type="date" name="date_of_death">
    <br>
    <input type="submit" value="Submit">

</form>
</html>

<!-- Routes-->
<!--  action='/hello-->
<!--this will start from begining i.e localhost:3000/hello-->
<!--I am in suppose localhost:3000/catalog/author-->
<!--action=''     This will stay at same i.e localhost:3000/catalog/author-->
<!--action='./hello'     This will stay at same i.e localhost:3000/catalog/author/hello-->

